* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url("https://cdn.pixabay.com/photo/2020/04/05/22/00/fireworks-5007820_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IBM Plex Mono', monospace;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 250px;
    border: solid #C6D8D3 3px;
    border-radius: 14px;
    padding: 16px 12px;
    background-color: #565264;
}

h1 {
    color: #D9DBF1;
}
h2 {
    color:#D9DBF1;
}